name: Hello World Workflow
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Print Hello World
        run: echo "Hello, World!"
        shell: bash
  goodbye_world:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Print Goodbye World
        run: echo "Goodbye, World!"
        shell: bash